---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-7xl">
    <section
      class="flex h-[calc(90vh-100px)] w-full flex-col justify-center gap-8"
    >
      <h1 class="text-7xl font-bold leading-normal text-gray-50">
        Desenvolvedor full-stack
        <span
          class="inline-flex h-[80px] w-[80px] shrink-0 items-center justify-center rounded-full bg-blue-800 text-blue-200"
          ><svg
            width="50"
            height="40"
            viewBox="0 0 50 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1072_2267)">
              <path
                d="M30.6875 0.0938282C29.3594 -0.288984 27.9766 0.484453 27.5938 1.81258L17.5938 36.8126C17.2109 38.1407 17.9844 39.5235 19.3125 39.9063C20.6406 40.2891 22.0234 39.5157 22.4062 38.1876L32.4062 3.18758C32.7891 1.85945 32.0156 0.476641 30.6875 0.0938282ZM36.9844 9.47664C36.0078 10.4532 36.0078 12.0391 36.9844 13.0157L43.9609 20.0001L36.9766 26.9845C36 27.961 36 29.547 36.9766 30.5235C37.9531 31.5001 39.5391 31.5001 40.5156 30.5235L49.2656 21.7735C50.2422 20.797 50.2422 19.211 49.2656 18.2345L40.5156 9.48445C39.5391 8.50789 37.9531 8.50789 36.9766 9.48445L36.9844 9.47664ZM13.0234 9.47664C12.0469 8.50008 10.4609 8.50008 9.48438 9.47664L0.734375 18.2266C-0.242188 19.2032 -0.242188 20.7891 0.734375 21.7657L9.48438 30.5157C10.4609 31.4923 12.0469 31.4923 13.0234 30.5157C14 29.5391 14 27.9532 13.0234 26.9766L6.03906 20.0001L13.0234 13.0157C14 12.0391 14 10.4532 13.0234 9.47664Z"
                fill="currentColor"></path>
            </g>
            <defs>
              <clipPath id="clip0_1072_2267">
                <rect width="50" height="40" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </span> focado em geração de valor para pequenos negócios <span
          class="inline-flex h-[80px] w-[80px] shrink-0 items-center justify-center rounded-full bg-emerald-800 text-emerald-200"
        >
          <svg
            width="50"
            height="41"
            viewBox="0 0 50 41"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1072_2271)">
              <path
                d="M2.875 15.8047H47.125C48.7109 15.8047 50 14.5156 50 12.9297C50 12.3594 49.8281 11.8047 49.5156 11.3359L43.6094 2.47656C42.9141 1.42969 41.75 0.804688 40.4922 0.804688H9.50781C8.25781 0.804688 7.08594 1.42969 6.39063 2.47656L0.484375 11.3281C0.171875 11.8047 0 12.3594 0 12.9219C0 14.5156 1.28906 15.8047 2.875 15.8047ZM5 18.3047V30.8047V37.0547C5 39.125 6.67969 40.8047 8.75 40.8047H26.25C28.3203 40.8047 30 39.125 30 37.0547V30.8047V18.3047H25V30.8047H10V18.3047H5ZM40 18.3047V38.3047C40 39.6875 41.1172 40.8047 42.5 40.8047C43.8828 40.8047 45 39.6875 45 38.3047V18.3047H40Z"
                fill="currentColor"></path>
            </g>
            <defs>
              <clipPath id="clip0_1072_2271">
                <rect
                  width="50"
                  height="40"
                  fill="white"
                  transform="translate(0 0.804688)"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
      </h1>

      <a
        href=""
        class="flex w-max items-center gap-2 bg-blue-600 px-10 py-5 text-2xl font-bold text-gray-100 transition hover:brightness-125"
      >
        Currículo <svg
          width="31"
          height="31"
          viewBox="0 0 31 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.30249 9.05469C7.00412 9.05469 6.71797 9.17321 6.50699 9.38419C6.29602 9.59517 6.17749 9.88132 6.17749 10.1797V22.9297C6.17749 23.5507 6.68149 24.0547 7.30249 24.0547H20.0525C20.3509 24.0547 20.637 23.9362 20.848 23.7252C21.059 23.5142 21.1775 23.2281 21.1775 22.9297V16.9297C21.1775 16.6313 21.296 16.3452 21.507 16.1342C21.718 15.9232 22.0041 15.8047 22.3025 15.8047C22.6009 15.8047 22.887 15.9232 23.098 16.1342C23.309 16.3452 23.4275 16.6313 23.4275 16.9297V22.9297C23.4275 23.8248 23.0719 24.6832 22.439 25.3162C21.806 25.9491 20.9476 26.3047 20.0525 26.3047H7.30249C6.40738 26.3047 5.54894 25.9491 4.916 25.3162C4.28307 24.6832 3.92749 23.8248 3.92749 22.9297V10.1797C3.92749 9.28458 4.28307 8.42614 4.916 7.7932C5.54894 7.16027 6.40738 6.80469 7.30249 6.80469H14.8025C15.1009 6.80469 15.387 6.92321 15.598 7.13419C15.809 7.34517 15.9275 7.63132 15.9275 7.92969C15.9275 8.22806 15.809 8.5142 15.598 8.72518C15.387 8.93616 15.1009 9.05469 14.8025 9.05469H7.30249Z"
            fill="#FAFAFA"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.2185 19.9342C10.3176 20.0439 10.4374 20.133 10.571 20.1964C10.7046 20.2597 10.8493 20.2961 10.997 20.3035C11.1447 20.3109 11.2924 20.2891 11.4316 20.2394C11.5708 20.1896 11.6989 20.113 11.8085 20.0137L25.6775 7.46469V11.6797C25.6775 11.9781 25.796 12.2642 26.007 12.4752C26.218 12.6862 26.5041 12.8047 26.8025 12.8047C27.1009 12.8047 27.387 12.6862 27.598 12.4752C27.809 12.2642 27.9275 11.9781 27.9275 11.6797V4.92969C27.9275 4.63132 27.809 4.34517 27.598 4.13419C27.387 3.92321 27.1009 3.80469 26.8025 3.80469H20.0525C19.7541 3.80469 19.468 3.92321 19.257 4.13419C19.046 4.34517 18.9275 4.63132 18.9275 4.92969C18.9275 5.22806 19.046 5.5142 19.257 5.72518C19.468 5.93616 19.7541 6.05469 20.0525 6.05469H23.882L10.298 18.3457C10.1883 18.4448 10.0992 18.5646 10.0358 18.6982C9.97245 18.8318 9.93603 18.9765 9.92865 19.1242C9.92127 19.2719 9.94306 19.4196 9.9928 19.5588C10.0425 19.698 10.1192 19.8246 10.2185 19.9342Z"
            fill="#FAFAFA"></path>
        </svg>
      </a>
    </section>

    <section class="flex flex-col gap-16 py-8">
      <header class="flex items-center gap-8">
        <svg
          width="181"
          height="181"
          viewBox="0 0 181 181"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M54.9268 34.5547C54.9268 27.9906 57.5343 21.6953 62.1759 17.0538C66.8174 12.4123 73.1126 9.80469 79.6768 9.80469H102.177C108.741 9.80469 115.036 12.4123 119.678 17.0538C124.319 21.6953 126.927 27.9906 126.927 34.5547V38.5417C132.075 39.0367 137.187 39.6397 142.281 40.3417C154.404 42.0427 162.927 52.5547 162.927 64.4347V95.6557C162.927 105.79 156.681 115.375 146.457 118.516C128.889 123.907 110.241 126.805 90.9268 126.805C71.6128 126.805 52.9558 123.907 35.3968 118.516C25.1728 115.375 18.9268 105.79 18.9268 95.6557V64.4347C18.9268 52.5457 27.4498 42.0337 39.5728 40.3507C44.6776 39.6406 49.7967 39.0375 54.9268 38.5417V34.5547ZM113.427 34.5547V37.4797C98.4403 36.5779 83.4132 36.5779 68.4268 37.4797V34.5547C68.4268 28.3447 73.4668 23.3047 79.6768 23.3047H102.177C108.387 23.3047 113.427 28.3447 113.427 34.5547ZM90.9268 90.8047C88.5398 90.8047 86.2506 91.7529 84.5628 93.4407C82.875 95.1286 81.9268 97.4177 81.9268 99.8047V99.8947C81.9268 102.282 82.875 104.571 84.5628 106.259C86.2506 107.946 88.5398 108.895 90.9268 108.895H91.0168C93.4037 108.895 95.6929 107.946 97.3807 106.259C99.0686 104.571 100.017 102.282 100.017 99.8947V99.8047C100.017 97.4177 99.0686 95.1286 97.3807 93.4407C95.6929 91.7529 93.4037 90.8047 91.0168 90.8047H90.9268Z"
            fill="#F5F5F5"></path>
          <path
            d="M27.9268 136.301V130.145C29.0608 130.622 30.2218 131.045 31.4368 131.423C50.2648 137.201 70.2538 140.306 90.9268 140.306C111.6 140.306 131.589 137.201 150.417 131.423C151.632 131.054 152.793 130.622 153.927 130.145V136.301C153.927 148.424 145.062 159.071 132.66 160.475C104.925 163.596 76.9282 163.596 49.1938 160.475C36.7918 159.071 27.9268 148.424 27.9268 136.301Z"
            fill="#F5F5F5"></path>
        </svg>

        <h2 class="text-9xl font-bold text-gray-100">Experiência</h2>
      </header>
    </section>
  </main>

  <section class="h-screen w-full bg-[#00DC87] py-8">
    <div class="mx-auto flex w-full max-w-7xl flex-col gap-4">
      <svg
        width="300"
        height="121"
        viewBox="0 0 300 121"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1064_1898)">
          <path
            d="M227.918 33.7854V97.6255C227.944 103.685 225.584 109.512 221.347 113.845C217.111 118.177 211.338 120.668 205.279 120.777C202.279 120.87 199.291 120.36 196.491 119.278C193.691 118.195 191.137 116.561 188.981 114.473C186.824 112.386 185.108 109.886 183.935 107.123C182.762 104.36 182.156 101.39 182.152 98.3879V52.6963C182.165 51.3928 181.719 50.1263 180.891 49.1194C180.063 48.1126 178.906 47.4298 177.625 47.191C176.847 47.0655 176.051 47.1098 175.291 47.3207C174.532 47.5316 173.827 47.9042 173.225 48.413C172.623 48.9218 172.138 49.5547 171.803 50.2684C171.469 50.9821 171.292 51.7597 171.286 52.5478V116.665C171.286 117.504 170.953 118.309 170.36 118.902C169.766 119.495 168.961 119.829 168.122 119.829H156.99C156.151 119.829 155.346 119.495 154.753 118.902C154.159 118.309 153.826 117.504 153.826 116.665V52.8143C153.799 46.7545 156.16 40.9279 160.397 36.5952C164.633 32.2625 170.406 29.7722 176.465 29.6632C179.465 29.5698 182.453 30.0795 185.253 31.1622C188.053 32.2449 190.606 33.8786 192.763 35.9664C194.92 38.0542 196.636 40.5537 197.809 43.3168C198.982 46.0798 199.588 49.0502 199.592 52.052V97.7706C199.579 99.0741 200.025 100.341 200.853 101.347C201.681 102.354 202.837 103.037 204.119 103.276C204.897 103.401 205.693 103.357 206.453 103.146C207.212 102.935 207.917 102.563 208.519 102.054C209.121 101.545 209.606 100.912 209.941 100.198C210.275 99.4848 210.451 98.7072 210.457 97.919V33.7787C210.457 33.3629 210.539 32.9511 210.699 32.567C210.858 32.1829 211.091 31.8339 211.385 31.5401C211.68 31.2462 212.029 31.0132 212.413 30.8544C212.797 30.6956 213.209 30.6141 213.625 30.6145H224.757C225.173 30.615 225.584 30.6973 225.968 30.857C226.352 31.0166 226.701 31.2504 226.995 31.5449C227.288 31.8393 227.521 32.1888 227.679 32.5733C227.838 32.9577 227.919 33.3696 227.918 33.7854Z"
            fill="#0A2D32"></path>
          <path
            d="M85.8776 52.5477C85.87 51.7594 85.6919 50.982 85.3557 50.2688C85.0195 49.5557 84.5331 48.9237 83.9297 48.4161C83.3264 47.9086 82.6204 47.5375 81.8603 47.3284C81.1001 47.1192 80.3037 47.0769 79.5256 47.2044C78.2441 47.4431 77.0878 48.126 76.2598 49.1328C75.4319 50.1397 74.9853 51.4062 74.9986 52.7097V97.6389C75.0253 103.699 72.6649 109.525 68.4282 113.858C64.1915 118.191 58.4192 120.681 52.3603 120.79C49.3601 120.883 46.3718 120.373 43.5723 119.29C40.7729 118.207 38.2192 116.574 36.0626 114.486C33.906 112.398 32.1903 109.899 31.0171 107.136C29.844 104.373 29.2372 101.403 29.2328 98.4013V52.6962C29.2433 51.3964 28.7968 50.1343 27.9711 49.1305C27.1455 48.1266 25.9932 47.4449 24.7159 47.2044C23.9377 47.0789 23.1416 47.1232 22.3822 47.3341C21.6227 47.545 20.9178 47.9176 20.3158 48.4264C19.7138 48.9352 19.2289 49.5681 18.8943 50.2818C18.5597 50.9955 18.3834 51.773 18.3774 52.5612V116.678C18.3774 117.517 18.0441 118.322 17.4507 118.915C16.8573 119.509 16.0524 119.842 15.2132 119.842H4.0914C3.67474 119.842 3.26218 119.76 2.8774 119.6C2.49262 119.44 2.14321 119.206 1.84921 118.911C1.55521 118.615 1.32242 118.265 1.1642 117.88C1.00598 117.494 0.925449 117.081 0.927226 116.664V52.8142C0.90053 46.7544 3.26092 40.9278 7.49765 36.5951C11.7344 32.2624 17.5067 29.7721 23.5656 29.6631C26.5657 29.5701 29.5541 30.0802 32.3535 31.1631C35.153 32.246 37.7066 33.8796 39.8632 35.9674C42.0199 38.0551 43.7356 40.5544 44.9087 43.3173C46.0819 46.0801 46.6887 49.0503 46.6931 52.0519V97.7705C46.6798 99.074 47.1263 100.34 47.9543 101.347C48.7822 102.354 49.9386 103.037 51.2201 103.276C51.9982 103.401 52.7943 103.357 53.5538 103.146C54.3133 102.935 55.0182 102.563 55.6202 102.054C56.2222 101.545 56.7071 100.912 57.0417 100.198C57.3762 99.4847 57.5526 98.7071 57.5586 97.9189V52.8142C57.5319 46.7539 59.8927 40.9267 64.1302 36.5939C68.3676 32.2611 74.1408 29.7712 80.2003 29.6631C83.2004 29.5701 86.1888 30.0802 88.9882 31.1631C91.7877 32.246 94.3413 33.8796 96.4979 35.9674C98.6546 38.0551 100.37 40.5544 101.543 43.3173C102.717 46.0801 103.323 49.0503 103.328 52.0519V116.661C103.328 117.5 102.994 118.305 102.401 118.899C101.808 119.492 101.003 119.825 100.164 119.825H89.0316C88.1925 119.825 87.3876 119.492 86.7942 118.899C86.2008 118.305 85.8675 117.5 85.8675 116.661L85.8776 52.5477Z"
            fill="#0A2D32"></path>
          <path
            d="M123.011 30.6108H134.143C134.982 30.6108 135.787 30.9442 136.38 31.5376C136.973 32.131 137.307 32.9358 137.307 33.775V116.664C137.307 117.08 137.225 117.491 137.066 117.875C136.907 118.259 136.674 118.608 136.38 118.902C136.086 119.196 135.737 119.429 135.353 119.588C134.97 119.747 134.558 119.828 134.143 119.828H123.011C122.595 119.828 122.184 119.747 121.8 119.588C121.416 119.429 121.067 119.196 120.773 118.902C120.479 118.608 120.246 118.259 120.087 117.875C119.928 117.491 119.846 117.08 119.846 116.664V33.7784C119.846 33.3626 119.927 32.9508 120.086 32.5665C120.245 32.1822 120.478 31.833 120.772 31.5388C121.066 31.2446 121.415 31.0113 121.799 30.852C122.183 30.6928 122.595 30.6108 123.011 30.6108Z"
            fill="#0A2D32"></path>
          <path
            d="M284.853 30.6108H295.985C296.824 30.6108 297.629 30.9442 298.222 31.5376C298.816 32.131 299.149 32.9358 299.149 33.775V92.8655C299.177 100.207 296.302 107.263 291.151 112.495C286 117.727 278.991 120.712 271.65 120.8C268.039 120.9 264.445 120.277 261.079 118.967C257.713 117.657 254.644 115.686 252.051 113.171C249.459 110.656 247.396 107.648 245.984 104.323C244.572 100.999 243.839 97.4253 243.83 93.8134V33.7784C243.83 32.9392 244.164 32.1344 244.757 31.541C245.35 30.9476 246.155 30.6142 246.994 30.6142H258.126C258.966 30.6142 259.77 30.9476 260.364 31.541C260.957 32.1344 261.29 32.9392 261.29 33.7784V92.8722C261.277 94.2127 261.527 95.5428 262.028 96.7865C262.528 98.0302 263.268 99.1632 264.206 100.121C265.144 101.078 266.262 101.842 267.495 102.367C268.728 102.893 270.053 103.171 271.394 103.184C272.734 103.198 274.064 102.948 275.308 102.448C276.551 101.947 277.685 101.207 278.642 100.269C279.6 99.3305 280.363 98.2129 280.889 96.9798C281.415 95.7466 281.692 94.4219 281.706 93.0814V33.7784C281.705 32.9415 282.035 32.1384 282.625 31.5448C283.215 30.9511 284.016 30.6153 284.853 30.6108Z"
            fill="#0A2D32"></path>
          <path
            d="M128.573 21.2063C134.207 21.2063 138.774 16.6392 138.774 11.0054C138.774 5.37155 134.207 0.804443 128.573 0.804443C122.939 0.804443 118.372 5.37155 118.372 11.0054C118.372 16.6392 122.939 21.2063 128.573 21.2063Z"
            fill="#0A2D32"></path>
        </g>
        <defs>
          <clipPath id="clip0_1064_1898">
            <rect
              width="298.215"
              height="119.999"
              fill="white"
              transform="translate(0.927246 0.804688)"></rect>
          </clipPath>
        </defs>
      </svg>

      <h3 class="text-6xl font-bold text-gray-100">
        Analista de Sistemas - Jovem Aprendiz
      </h3>
      <h4 class="text-3xl font-bold text-gray-100">2022 - Presente</h4>
      <p>
        Atuação na construção e manutenção de microsserviços Node.js com
        framework Express.js. Manipulação e consulta de banco de dados MongoDB.
        Uso de Kafka e arquitetura orientada a eventos.
      </p>
      <ul class="list-disc pl-4">
        <li>
          Reduzi em 14% as vulnerabilidades dos microsserviços da minha equipe
          em 4 meses.
        </li>
      </ul>
    </div>
  </section>
</Layout>
